<div class="about">
    <div class="asmo__about">
        <div class="py-8 px-4 lg:px-80">
            <div class="asmo__introduction">
                <p class="pt-3 font-normal text-moon-black-900">
                    <span class="font-bold text-moon-black-900"> Fahfudin Farhan
                        — </span>
                    Graduated with a Bachelor of Informatics Engineering from
                    Gunadarma
                    University. I have an interest in pursuing an occupation as
                    a Software
                    Developer, specifically as a Mobile Developer where I can
                    design and
                    build an app.
                </p>
            </div>
            <div class="asmo__skills">
                <p class="pt-12 font-extrabold tracking-widest text-moon-black-900">
                    SKILLS
                </p>
                <div class="pt-3 font-normal text-moon-black-900">
                <p>
                    HTML, CSS, JavaScript, Dart, Flutter, Adobe XD, Figma, Tailwind CSS, Bootstrap CSS, Astro
                </p>
                </div>
            </div>
            <div class="asmo__mailto">
                <p class="pt-12 font-normal">
                    Let’s collaborate and work together to make something
                    awesome, please shoot me an email:
                    <span class="font-bold text-moon-black-900">
                        <a href="mailto:fahfudinfarhan@gmail.com">
                            fahfudinfarhan@gmail.com
                        </a>
                    </span>
                </p>
            </div>
              <div class="asmo_social">
                <div class="py-12">
                    <div class="flex items-center gap-6 pt-12 lg:pt-0 text-moon-cream-500">
                        <a href="https://dribbble.com/nameisde">
                            <img class="opacity-50 hover:opacity-80" width="28"src={Astro.resolve("/src/assets/images/dribbble-logo-dark.svg")} alt="dribbble-logo">
                        </a>
                        <a href="https://github.com/nameisde">
                            <img class="opacity-50 hover:opacity-80" width="28"src={Astro.resolve("/src/assets/images/github-logo-dark.svg")} alt="github-logo">
                        </a>
                        <a href="https://www.linkedin.com/in/fahfudin-farhan/">
                            <img class="opacity-50 hover:opacity-80" width="28"src={Astro.resolve("/src/assets/images/linkedin-logo-dark.svg")} alt="linkedin-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>